<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chunkr | Profile</title>
    <style>
        .userm{
            color: #3a86ff;
        }
        h2{
            text-align: center;
        }

        img{
            margin-left: 34%;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <h2>Welcome <b class="userm">{{user.username}}</b></h2>
    <h2>Your Profile is under construction</h2>
    <img src="{% static 'img/giphy.gif' %}" alt="">
    <button class="btn btn-primary"><a href="{% url 'home' %}"> Visit Home</a></button>
</div>
</body>
</html>


